
.form-group-task {
    position: relative;
    width: 100%;
}

.form-group-task input {
    width: 100%;
    padding: 10px;
    height: 45px;
    font-size: 0.8rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    background-color: white !important;
}

.form-group-task textarea {
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    background-color: white !important;
}

.form-group-task label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 5px;
    transition: 0.2s;
    pointer-events: none;
    font-size: 0.8rem;
}

.labelDescription {
    position: absolute;
    top: 10% !important;
    left: 10px;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 5px;
    transition: 0.2s;
    pointer-events: none;
    font-size: 0.8rem;
}

.form-group-task input:focus + label,
.form-group-task textarea:focus + .labelDescription,
.form-group-task input:not(:placeholder-shown) + label {
    top: 0px !important;
    left: 10px;
    font-size: 12px;
    color: green;
}

.form-group-task input:focus,
.form-group-task textarea:focus  {
    border: 1px green solid;
}

.error-message-login {
    color: red;
    font-size: 0.6em;
}


/* especificos */

#addTaskForm {
    background-color: rgba(0, 128, 0, 0.187);
    padding: 100px;
}

#addTaskForm  div {
    margin: 10px 0;
}


.taskPriority {
    display: grid;
    grid-template-columns: 90% 10%;
    background-color: beige;
}

.taskDescription {
    display: grid;
    grid-template-columns: 100%;
    background-color: red;
}

.priority {
    display: flex;
    align-items: center;
    justify-content: center;
}

#priority {
    border: none;
    font-size: 0.8rem;
}


.taskProjectResp {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    height: 100%;
    gap: 1%;
    background-color: aqua;
}