
.form-group {
    position: relative;
    margin: 25px 0;
    width: 100%;
}

.form-group input {
    width: 100%;
    padding: 10px;
    height: 45px;
    font-size: 0.8rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    background-color: white !important;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 5px;
    transition: 0.2s;
    pointer-events: none;
    font-size: 0.8rem;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: 0px;
    left: 10px;
    font-size: 12px;
    color: green;
}

.form-group input:focus {
    border: 1px green solid;
}


.error-message-login {
    color: red;
    font-size: 0.6em;
}

/* popper */

.popper-tooltip {
    background-color: #f44336;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.6rem;
    z-index: 1000;
    white-space: nowrap;
}